@import "tailwindcss";

@layer components {
  .heroButton {
    @apply px-4 py-2 border border-[#242424] rounded-full uppercase text-xs tracking-widest text-gray-500 transition-all hover:border-[#F7AB0A]/40 hover:text-[#F7AB0A]/40;
  }
 .contactInput {
    @apply outline-none bg-white rounded-md px-6 py-4 
    text-gray-600 placeholder-gray-400 border border-gray-300
    transition-all focus:border-[#F7AB0A] 
    hover:border-[#F7AB0A]/50;
}
.scrollbar::-webkit-scrollbar {
  width: 8px; 
}

.scrollbar::-webkit-scrollbar-track {
  @apply bg-gray-400/20; 
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply bg-yellow-800 rounded-lg;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-yellow-200; 
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    scrollbar-width: none;
}



}